
* {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

h1 {
    text-align: right;
    font-size: 50px;
    margin: 5px;
}

h2 {
    text-align: right;
    font-size: 15px;
    font-style: italic;

}

h3 {
    text-align: center;
    font-size: 25px;
}

h4 {
    text-align: center;
    font-size: 20px;
}

img.logo {
    max-width: 100%;
}

img.main {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.center {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.static-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.border {
    width: 8.33%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-left-top {
    width: 41.67%;
}

.col-right-top {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    img.logo {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h1, h2 {
        text-align: center;
    }

    .static-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        width: 100%;
    }

    .border {
        width: 0%;
    }

    .col-4 {
        width: 100%;
    }

    .col-left-top {
        width: 0%;
    }

    .col-right-top {
        width: 100%;
    }

    .col-10 {
        width: 100%;
    }
}