body {
  font-family: 'Orbitron', sans-serif;
  color: #666;
}
img.logo {
  max-width: 20%;
  margin-top: 5px;
}
img.center {
  min-width: 100%;
}
img.feature {
  margin-left: auto;
  margin-right: auto;
}
p, 
a {
  font-family: sans-serif;
  margin-top: 5px;
  color: #666;
}
.btn {
  font-family: sans-serif;
  font-weight: bold;
}
.title-super {
  font-size: 40px;
}
.col-md-6 {
  text-align: right;
}
@media only screen and (max-width: 992px) {
  img.logo,
  img.feature {
    margin-left: auto;
    margin-right: auto;
  }
  .col-md-4 {
    max-width: 100%;
  }
  .col-md-6,
  .col-md-12 {
    text-align: center;
  }
}